<!--Template del card-->
<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <!--Referenciando el imput-->
    <!--Mostrando la posición-->
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let s of destino.servicios">
        <!--Directiva ngSwitch-->
        <span [ngSwitch]="s">
          <!-- evalua condiciones -->
          <i *ngSwitchCase="'Piscina'" style="color: red;">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
        </span>
      </li>
    </ul>
    <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">Ir!</a>
   <!-- <span [style.display]="destino.isSelected() ? '': 'none'"> PREFERIDO </span>-->
    <span id="preferido" *ngIf="destino.isSelected()"> PREFERIDO </span>
    <a class="nav-link" [routerLink]="['/destino']">Ver Detalle</a>
  </div>
  <div class="card-footer">
    <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
      <i class="material-icons md-18">thumb_up</i></a>
    <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
      <i class="material-icons md-18">thumb_down</i></a>
    Votos: {{destino.votes}}
  </div>
</div>



