<form
		[formGroup]="fg"
		(ngSubmit)="guardar(
								fg.controls['nombre'].value,
								fg.controls['url'].value
					)">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" autocomplete="off"
    		id="nombre" placeholder="Ingresar nombre..."
        [formControl]="fg.controls['nombre']">
        <ul>
          <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <!--Validador nivel de control-->
        <!--<div *ngIf="!fg.controls['nombre'].valid">validando el error (Escriba un nombre)</div> Muestra mensaje que no tiene caracteres-->
        <div *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido</div> <!--Muestra mensaje que no tiene caracteres-->
        <!--Validaciones custom-->
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" class="alert alert-danger" role="alert">el nombre es invalido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" class="alert alert-danger" role="alert">
        el nombre debe tener al menos {{ minLongitud }} caracteres!</div>
  </div>
  <div class="form-group">
    <label for="Imagen Url">Imagen Url</label>
    <input type="text" class="form-control"
    		id="imagenUrl" placeholder="Ingresar url..."
    		[formControl]="fg.controls['url']">
  </div>
  <!--Muestra el boton solo si tiene caracteres-->
  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
