<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/reservas']">reservas</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <h1>
      {{ title}}
    </h1>
  </div>

  <!--Ruta variable-->
  <router-outlet></router-outlet>
  <!-- ruta constante
  <app-lista-destino></app-lista-destino>
    -->
</div>

<hr class="mb-5">

<!-- Agregando un observable de tiempo real al reloj del pc-->

<div class="container text-center">
  Fecha: {{ time | async }}
</div>
